/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  color: black;
}

p {
  color: white;
}

canvas {
  display: block;
}

#landingPage {
	display: block;
	height: 100vh;
}

#gamePage {
	display: none;
	height: 100vh;
}

#helloHeader {
	height: 15vh;
}

#gameStartButton {
  background-color: lime;
  color: white;
}

#oneThird {
	height: 80vh;
  border-radius: 30px;
}

#twoThird {
	height: 80vh;
}

#gameonethird {
	height: 80vh;
  border-radius: 20px;
  background-color: rgb(51, 51, 51);
}


#gametwothird {
	height: 80vh;
  border-radius: 20px;
  position: relative;
  background-color: rgb(51, 51, 51);
}

#gametwothird2 {
  height: 70vh;
  width: 60vw;
  position: absolute;
  left:50%;
  top:50%;

  transform: translate(-50%,-50%);
}
/*************************************************************
/*    END OF CSS
*************************************************************/