/*************************************************************
  Written by ????, Term 1 2021
  Style a basic W3.CSS interface.
    v1 Basic layout of landing & game pages.
*************************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  color: black;
}

p {
  color: white;
}

canvas {
  display: block;
}

#landingPage {
	display: block;
	height: 100vh;
}

#gamePage {
	display: none;
	height: 100vh;
}

#helloHeader {
	height: 15vh;
}

/*landing page css*/
#lP_oneThird {
	height: 80vh;
  border-radius: 20px;
}

#lP_twoThird {
	height: 80vh;
}

/*game page css*/
#game_oneThird {
	height: 80vh;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(51, 51, 51);
}

#game_twoThird {
	height: 80vh;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  background-color: rgb(51, 51, 51);
}

#game_canvasDiv {
  height: 70vh;
  width: 60vw;
  position: absolute;
  left:50%;
  top:50%;

  transform: translate(-50%,-50%);
}

/*text div css*/
#game_textDiv {
  background-color: rgb(92, 92, 92);
  border-radius: 20px;
  font-size: larger;
  width: 30vw;
  height: 65vh;
}

#game_timeDiv {
  background-color: rgb(24, 230, 72);
  border-radius: 20px;
  width: 10vw;
}

#game_startButton {
  margin-top: 20px;
  background-color: rgb(24, 230, 72);
  color: white;
  border-radius: 20px;
}
/*************************************************************
/*    END OF CSS
*************************************************************/